h1{ 
    text-align:center;
    font-size: 6vw;
    color:rgb(240, 240, 240); 
    background-color: rgb(10, 25, 47); 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    text-shadow: 3px 3px 5px;
}
body{
    color:rgb(240, 240, 240); 
    font-family: Arial, sans-serif; 
    background-color: rgb(10, 25, 47);
    margin: 0; 
    height: 50vh; 
    justify-content: center;
    text-align:center;
}
.p2{
    color:rgb(213, 0, 0); 
}
.p1{
    color:rgb(213, 0, 0); 
    background-color: rgb(153, 197, 236); 
    margin: 0; 
    height: 50vh; 
    justify-content: center;
    text-align:center;
}

.captcha-container{
    display: flex;
    justify-content: center;  
}
.back{
    position: fixed;
    font-weight: bold;
    top: 10px;      
    left: 10px;    
    padding: 10px 20px;
    color:rgb(240, 240, 240);
    border: 2px solid rgb(255, 255, 255); 
    background-color: rgb(10, 25, 47);
    font-size: 16px;
    cursor: pointer;
}