h1{ 
    text-align:center;
    font-size: 6vw;
    color:rgb(13, 35, 56); 
    font-family: Arial, sans-serif; 
    background-color: rgb(153, 197, 236); 
    font-weight: bold;
    text-shadow: 3px 3px 5px;
}
body{
    color:rgb(13, 35, 56); 
    background-color: rgb(153, 197, 236); 
    margin: 0; 
    height: 50vh; 
    justify-content: center;
    text-align:center;
}
.p2{
    color:rgb(213, 0, 0); 
}
.p1{
    color:rgb(213, 0, 0); 
    background-color: rgb(153, 197, 236); 
    margin: 0; 
    height: 50vh; 
    justify-content: center;
    text-align:center;
}

.captcha-container{
    display: flex;
    justify-content: center;  
}