.title{
    display: flex;
    flex-direction: column;
}
h1{
    color: white;
    padding: 15px 0;
    font-size: 24px;
}

body{
    color:rgb(240, 240, 240); 
    background-color: rgb(10, 25, 47); 
    margin: 0; 
    height: 100vh; 
    justify-content: center;
    text-align:center;
}
/*code block below from https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns  */
.news-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;                          
    max-width: 1200px;
    margin: 0 auto;
}
.news-item{
    background-color: #fff;              
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.news-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none; 
}
.news-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.time {
    font-size: 0.9rem;
    color: #777;
    margin-top: auto; 
}
.p1,.p2{
    color:rgb(200, 1, 1); 
    background-color: rgb(153, 197, 236); 
    margin: 0; 
    padding: 0;
    justify-content: center;
    text-align:center;
}
.tag {
    display: inline-block;
    background-color: #cac8c89c;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
}
.tag:hover {
    background-color: white;
}
.tag.technology{
    background-color: green;
    color: white;
    border-color: green;
}
.tag.technology:hover{
    background-color: rgb(65, 214, 65);
}
.tag.business{
    background-color: rgb(138, 3, 3);
    color: white;
    border-color: rgb(138, 3, 3);
}
.tag.business:hover{
    background-color: rgb(235, 9, 9);
}
.tag.sports{
    background-color: rgb(233, 30, 99);
    color: white;
    border-color: rgb(233, 30, 99);
}
.tag.sports:hover{
    background-color: rgb(255, 93, 147);
}
.tag.usnews{
    background-color: navy;
    color: white;
    border-color: navy;
}
.tag.usnews:hover{
    background-color: rgb(83, 83, 208)
}
.tag.worldnews{
    background-color: purple;
    color: white;
    border-color: purple;
}
.tag.worldnews:hover{
    background-color: rgb(228, 57, 228);
}