h1{ text-align:center;
    font-size: 6vw;
    color:rgb(0, 0, 0); 
    font-family: Arial, sans-serif; 
    background-color: rgb(153, 197, 236); 
    font-weight: bold;
    text-shadow: 3px 3px 5px;
}
body{
    color:rgb(13, 35, 56); 
    background-color: rgb(153, 197, 236); 
    margin: 0; 
    height: 50vh; 
    justify-content: center;
    text-align:center;
}
.home{
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(153, 197, 236); 
    color: rgb(13, 35, 56);
    font-size: 16px;
    cursor: pointer;
}