h1{
    text-align: center;
    font-size: 7ch;
    color: white;
}
body{
    background-color: rgb(10, 25, 47);
    color: white;
    text-align: center;
}
.title{
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}
.titlelabel{
    font-size: x-large;
    color: white;
}

.body{
    font-size: medium;
    font-family: 'Merriweather', serif;
    
}
.bodylabel, .url{
    font-size: larger;
    color: white;
}
.category {
    display: none;
  }
.tag {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #708090;
    border: 1px solid #B0C4DE;
    border-radius: 10px;
    cursor: pointer;
  }
/*cite: https://www.w3schools.com/css/default.asp */
#technology:checked + .tag{
    background-color: green;
    color: white;
    border-color: green;
  }
#business:checked + .tag{
    background-color: rgb(138, 3, 3);
    color: white;
    border-color: rgb(138, 3, 3);
}
#sports:checked + .tag{
    background-color: rgb(233, 30, 99);
    color: white;
    border-color: rgb(233, 30, 99);
}
#usnews:checked + .tag{
    background-color: navy;
    color: white;
    border-color: navy;
}
#worldnews:checked + .tag{
    background-color: purple;
    color: white;
    border-color: purple;
}
